name: midi_to_mml
description: "Convert MIDI to MML"
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.1.1+3

environment:
  sdk: '>=3.3.1 <4.0.0'

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.6
  get: ^4.6.6
  rinf: ^6.15.0
  protobuf: ^3.1.0
  gap: ^3.0.1
  remixicon: ^1.2.0
  file_picker: ^8.0.0+1
  package_info_plus: ^8.0.2
  desktop_drop: ^0.4.4
  path: ^1.9.0
  url_launcher: ^6.2.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  flutter_launcher_icons: ^0.13.1
  msix: ^3.16.7

flutter:
  uses-material-design: true
  assets:
    - assets/icon-instruments/
    - assets/soundfonts/

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "icon.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  web:
    generate: true
    image_path: "icon.png"
    background_color: "#ff907f"
    theme_color: "#ff907f"
  windows:
    generate: true
    image_path: "icon.png"
    icon_size: 256 # min:48, max:256, default: 48
  macos:
    generate: true
    image_path: "icon.png"

# msix_config:
#   display_name: MIDI to MML
#   publisher_display_name: cuikho210
#   publisher: CN=686422A7-5A4A-4633-BAB3-4CB07D6870A6
#   identity_name: cuikho210.MIDItoMML
#   msix_version: 1.1.0.0
#   logo_path: windows/runner/resources/app_icon.ico
#   msstore_appId: 9NWBRMHF4TLH
